@font-face {
  font-family: open sans;
  src: url("font/OpenSans-VariableFont_wdth,wght.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #6B7280;
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "open sans";
}

h1 {
  font-family: "open sans";
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

h2 {
  font-family: "open sans";
  font-size: 24.3px;
  /*golden ratio p * 1.618*/
}

p {
  font-family: "open sans";
  font-size: 15px;
  text-wrap: balance;
  margin: 0.5rem 0;
  line-height: 1.8rem;
}

header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

header .header_logo {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 20rem;
}

header .nav_bar {
  font-family: "open sans";
  overflow: hidden;
}
header .nav_bar-link {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1.75rem 1rem;
  text-decoration: underline;
  font-size: 16px;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.25rem;
}
header .nav_bar-link--contact {
  margin-left: 4rem;
}
header .active {
  color: #EFC6C6;
}
header .nav_bar .right_top {
  margin-left: 4rem;
  padding-right: 1rem;
}
header .lang {
  margin-left: 1rem;
  margin-top: 1.5rem;
  display: inline-block;
  text-align: left;
}
header .lang a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}
header .lang_list,
header .lang_option {
  margin: 0;
  padding: 0;
  display: inline;
}
header .lang_chevron {
  display: none;
}
header .lang {
  border: none;
  min-width: 2.5rem;
  position: relative;
  z-index: 10;
}
header .lang_list,
header .lang_option {
  display: block;
}
header .lang_chevron {
  display: inline-flex;
  float: right;
  transform: rotate(90deg);
}
header .lang_option {
  padding: 0.25rem;
  background-color: #EDEBE4;
}
header .lang_option:hover, header .lang_option:focus {
  background-color: white;
}
header .lang_list {
  display: none;
  list-style-type: none;
}
header .is-open {
  border-bottom: none;
}
header .is-open .lang_list {
  border: none;
  border-top: none;
  display: block;
  position: absolute;
  left: -1px;
  width: 100%;
}
header .is-open .lang_chevron {
  transform: rotate(270deg);
}

/*Inspiration for hamburger menu found on: https://codepen.io/ngochuynh/pen/yKrvVZ*/
.hamburger1 {
  margin-top: -2.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  display: grid;
  justify-items: right;
  z-index: 120;
}

.hamburger1 div {
  background-color: black;
  position: relative;
  width: 2.75rem;
  height: 0.25rem;
  margin-top: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 17rem;
}

/* drop-down menu */
.menu1 {
  width: 100%;
  margin: auto 0;
  display: grid;
  grid-template-rows: repeat(5, 0.5fr);
  grid-row-gap: 0.25rem;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  transition: all 0.3s ease;
}

.link1 {
  font-family: "open sans";
  font-size: 15px;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link1:hover {
  background-color: #5b5e89bf;
  text-decoration: none;
  transition: all 0.3s ease;
}

.lang_hamb {
  text-transform: uppercase;
  display: flex;
  gap: 0.25rem;
  cursor: default;
  margin-bottom: 1rem;
}
.lang_hamb a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.lang_hamb a:hover {
  color: #EFC6C6;
}
.lang_hamb:hover {
  background-color: unset;
}

.header_content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.content_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
}

footer {
  padding: 0 1.5rem;
  padding-bottom: 4rem;
}
footer .logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 8rem;
}
footer .footer_nav p {
  font-weight: 600;
}
footer .footer_nav li {
  margin-top: 0.5rem;
}
footer .footer_info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .column {
  max-width: 10rem;
  margin-bottom: 20px;
  margin-right: 40px;
}
footer .column h3 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "open sans";
  font-weight: 600;
  font-size: 16px;
}
footer ul li {
  list-style: none;
  margin-bottom: 8px;
}
footer ul {
  padding: 0;
}
footer a {
  text-decoration: none;
}
footer a:visited {
  text-decoration: none;
}
footer .footer-container-desk {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer_newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 1rem;
}
footer .newsletter_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer_newsletter {
  font-family: "open sans";
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
footer .newsletter_form button {
  width: 100px;
  background-color: #6B7280;
  color: rgb(255, 255, 255);
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
}
footer .newsletter_form input[type=email] {
  padding: 8px 0;
  border-bottom: 1px solid #6B7280;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
footer input[type=email]:focus {
  outline: 2px solid #6B7280;
}

/*Mobil versionen*/

@media only screen and (max-width: 600px) {
  .header_logo {
    padding-left: 1.5rem !important;
  }
  .hamburger1 {
    margin-top: -2.5rem;
    margin-right: 1.5rem !important;
  }
  .lang {
    display: none;
  }
  footer .social_media1 {
    display: none;
  }
  footer .footer_newsletter {
    display: none;
  }
  footer .column {
    display: none;
  }
  footer .contact_info {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  footer p {
    font-weight: 600;
  }
  footer li {
    margin-top: 0.5rem;
  }
  footer .email {
    margin-top: 1.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 80%;
    gap: 2rem;
    margin-top: 4rem;
  }
  .social_media2 {
    max-height: 2rem;
  }
}

/*Dekstop-version + hamburgermenu*/
@media only screen and (min-width: 600px) {
  .header_logo {
    padding-left: 2rem;
  }
  .hamburger1 {
    margin-right: 2rem !important;
  }
  .footer_info {
    display: none;
  }
  .social_media2 {
    display: none;
  }
  .contact_info {
    display: none;
  }
  .address2 {
    display: none;
  }
  .footer_nav {
    display: none;
  }


  /*hamburgermenu*/
}
@media only screen and (max-width: 800px) {
  header .nav_bar {
    display: none;
  }
  header .lang {
    display: none;
  }
  header .header_logo {
    padding-left: 2rem;
  }
  header .hamburger1 {
    margin-right: 2rem;
  }
  .footer_newsletter {
    display: none !important;
  }
}

/*Desktop version: navigationbar top*/

@media only screen and (min-width: 800px) {
  section {
    padding: 0 2rem;
  }
  .header_logo {
    max-height: 3rem !important;
  }
  #hamburger_menu {
    display: none;
  }
  .footer_nav {
    display: none;
  }
  footer {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header_logo {
    padding-left: 0;
  }

/*Video*/

}
#video {
  margin: 0 0;
  padding: 0 0;
}
#video video {
  width: 100%;
  height: 50vw;
  margin-bottom: 1rem;
}

section {
  padding: 0 1.5rem;
  padding-bottom: 6rem;
}

#hunderacer h1 {
  font-family: "open sans";
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#hunderacer h2 {
  font-family: "open sans";
  font-size: 24px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#hunderacer p {
  font-family: "open sans";
  font-size: 15px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}


/*Break*/

#break-line {
  background-color: #F6F4F2;
  height: 1rem;
}

#break-to {
  background-color: #EFC6C6;
  height: 1rem;
}


/*Bedsteven*/

#bedsteven {
  background-color: #EFC6C6;
  color: #6B7280;
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}
#bedsteven .bedsteven_image {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url("hundemad.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#bedsteven h2 {
  font-family: "open sans";
  font-size: 24.3px;
  /*golden ratio p * 1.618*/
  text-align: left;
  margin-top: 2rem !important;
}

#bedsteven p {
  text-align: left;
  color: #000000;
}


/*Om os*/

#omos {
  background-color: #F6F4F2;
  color: #6B7280;
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}
#omos .omos_image {
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  background-image: url("godbid.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#omos h1 {
  font-family: "open sans";
  font-size: 28px;
  color: #6B7280;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
#omos p {
  font-family: "open sans";
  font-size: 15px;
  text-align: left;
  color: #000000;
}


/*Sundhed*/ 

#sundhed {
  background-color: #EFC6C6;
  color: rgb(0, 0, 0);
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}
#sundhed .sundhed_image {
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  background-image: url("sundhed.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#sundhed h2 {
  font-family: "open sans";
  font-size: 24.3px;
  /*golden ratio p * 1.618*/
  text-align: left;
  margin-top: 2rem !important;
}

#sundhed p {
  text-align: left;
  color: #000000;
}

/*Footer*/

footer {
  background-color: #F6F4F2;
  color: black;
  font-size: 15px;
}
footer a {
  text-decoration: none;
  color: black;
}

/*Mobil*/

@media only screen and (max-width: 600px) {
  section {
    padding: 0 1.5rem;
  }
  #nav_buttons {
    padding: 0 0;
  }
  #nav_buttons .grid_image {
    height: 30vh;
  }
  .text_1, .text_2 {
    display: none;
  }

}
/*Desktop*/
@media only screen and (min-width: 600px) {
  section {
    margin: 0 0 !important;
    padding: 0 0 !important;
  }
  .grid_image {
    height: 35vh;
  }
  .button {
    font-size: 14px;
  }

  .text {
    align-items: center;
    justify-content: center;
    margin: auto 0;
  }
  .main_grid {
    display: grid;
    grid-template-columns: 4.8fr 5.2fr;
  }
  #omos .omos_image {
    height: 60vh;
    margin: 2rem 0;
    max-height: 500px;
  }
  #bedsteven h2 {
    margin: auto 2rem;
  }
  #bedsteven h3 {
    margin: auto 2rem;
    margin-bottom: 1rem;
  }
  #bedsteven .bedsteven_image {
    height: 60vh;
    margin: 2rem 0;
    max-height: 550px;
  }
  #bedsteven .bedsteven_image {
    order: 1;
  }
  #bedsteven .text {
    order: -1;
  }
  #bedsteven .main_grid {
    grid-template-columns: 5.2fr 4.8fr;
  }
  #bedsteven .break {
    padding-bottom: 0;
  }
  #omos p, #bedsteven p {
    text-align: left;
    margin: 0.5rem 2rem;
  }

}
@media only screen and (min-width: 800px) 
  #video video {
    height: 100%;
  }
  .grid_image {
    height: 35vh;
    max-height: 400px;
  }
  .text_1 {
    font-size: 15px;
    padding-left: 2.25rem;
    position: absolute;
    bottom: 8rem;
  }
  .text_2 {
    font-size: 15px;
    padding-left: 2.25rem;
    position: absolute;
    bottom: 5.5rem;
  }
