

@import 'scss/variables';
@import 'scss/standard';



#video{
    margin: 0 0;
    padding: 0 0;
    video{
        width:100%;
        height:50vw;
        margin-bottom: $page-break
    }
    
}
#nav_buttons{
    .nav_grid{
        display:grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    

    .grid_image{
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 1rem;
        background-size: cover;
        background-position: center;
    }

    .grid_button_hund {
        background-image: url("hund.png");
    }

    .grid_button_kost{
        background-image: url("kost.jpg");
    }
    .grid_button_træning{
        background-image: url("træning.jpg");
    }
    
}

#bedsteven{
    margin:0 0;
    .container{
        position:relative;
        text-align: center;
    }

    }

#break-line{
    background-color: $washed_out;
    height: $page-break;

}

.main_grid{
    display: grid;
    grid-template-columns: 1fr;
    }

#omos{
    padding-top:1.5rem;
    padding-bottom:$section-bottom;
    
  .omos_image{
    height: 55vh;
    width: calc(100%);
    margin: 0 auto;
    background-image: url("vovse.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
    h1{
        @include header1;
        text-align: center;
    }

    p{
        @include text;
        text-align: left;
    }

}

#bedsteven{
    @include dark-page;
    padding-top: 1.5rem;
    padding-bottom:$section-bottom;

    .bedsteven_image{
        height: 60vh;
        width: calc(100%);
        margin: 0 auto;
        background-image: url("ven.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }
    

    h2{
        @include header2;
        text-align: right;
        margin-top: 2rem !important;


    }
    h3{
        @include header2;
        font-size: 20px;
        text-align: right;
        margin-bottom: 1rem;    }
        
    p{
        text-align: left;
    }

}

footer{
    @include light-footer;

    a{
        text-decoration: none;
        color: $text-colour1;
    }
}


@media only screen and (max-width: 600px){
section{
    padding: 0 $section-sides;
    
}
    #nav_buttons{
    padding: 0 0;
    .grid_image{
        height: 30vh;
    }
}

.text_1, .text_2{
    display: none;
}
}


/*Desktop version*/
@media only screen and (min-width: 600px) {
section{
    margin: 0 0 !important;
    padding: 0 0 !important;

}

.grid_image{
    height: 35vh;
}

.button{
    font-size: $desktop-button-size;
}
   
    .text1, .text2{
        display: none;
    }

    .text_1, .text_2{
        display: flex;
    }
}

.text{
    align-items: center;
    justify-content: center;
    margin: auto 0;
    
}

.main_grid{
    display: grid;
    grid-template-columns: 4.8fr 5.2fr;
    }


#omos{
    .omos_image{
        height: 60vh;
        margin: 2rem 0;
        max-height:500px;
        }
    }

#bedsteven{
   h2{
    margin: auto $desktop-section-sides;
   }
   h3{ 
    margin: auto $desktop-section-sides;
    margin-bottom: 1rem;
   }

   .bedsteven_image{
    height: 60vh;
    margin: 2rem 0;
    max-height: 550px;
   }

   .bedsteven_image {
    order: 1;
   }

   .text {
    order: -1;
    
   }

   .main_grid {
    grid-template-columns: 5.2fr 4.8fr;}

    .break {
        padding-bottom: 0;
    }
}

#omos, #bedsteven{
    p{
        text-align: left;
        margin:0.5rem $desktop-section-sides;
    }
}

@media only screen and (min-width: 800px){
    #video{
        video{
            height:100%;
        }
    }
    .grid_image{
        height: 35vh;
        max-height:400px;
    }
   
}
